$small-screen:24em;//320px;
$medium-screen:46.8em;//768px;
$large-screen:50em; // 992px;
$xl-large-screen:73em;

/* Colors */
$black-haze:#EDEEEE;
$abbey:#53555D;
$silk:#BEAFA5;
$storm-grey:#6b6e78;

/* media */
$image-path: "../images/";

/* fonts */
$bebas-neue-regular: 'Bebas Neue Regular' ,sans-serif;
$bebas-neue-thin:'Bebas Neue Thin' ,sans-serif;
$bebas-neue-light:'Bebas Neue light',sans-serif;
$bebas-neue-bold:'Bebas Neue Bold' ,sans-serif;
$bebas-neue-book:'Bebas Neue Book' ,sans-serif;